@font-face {
  font-family: "LeagueSpartan";
  font-style: bold;
  font-weight: 700;
  src:
    url(../fonts/leaguespartan-bold-webfont.woff2),
    url(../fonts/leaguespartan-bold-webfont.woff);
}

@font-face {
  font-family: "HKGrotesk";
  font-style: light;
  font-weight: 300;
  src:
    url(../fonts/hkgrotesk-light-webfont.woff2),
    url(../fonts/hkgrotesk-light-webfont.woff);
}

h1, h2, h3, h4, h5, h6 {
  font-family: LeagueSpartan, serif;
}

p {
  font-family: HKGrotesk, serif;
}

body {
  padding: 10px;
  color: $font-main-color;
  background-color: $bgc-main;
}
