$mobile-widths-only: "max-width: 599px";
$tablet-portrait-widths: "min-width:600px";
$tablet-landscape-widths: "min-width:900px";
$desktop-widths: "min-width: 1200px";
$widescreen-widths: "min-width: 1800px";