.items {
  
}

.items__first {
  
}

.items__second {
  
}

.items__third {
  
}

.items__gina {
  background-image: url(../img/gina-product.jpg);
}

.items__beoplay {
  background-image: url(../img/beoplay-a1-product.jpg);
}

.items__leica {
  background-image: url(../img/leica-mp.jpg);
}

.items__molekule {
  background-image: url(../img/molekule.jpg);
}

.items__p9-signature {
  background-image: url(../img/p9-signature.jpg);
}

.items__dr-ii {
  background-image: url(../img/dr-ii.jpg);
}
